<h1>ConnectHealth</h1>

<h3>Prototipo Inicial</h3>

<div id="myholder"></div>

<% @neo = Neography::Rest.new(ENV['NEO4J'])
paciente = @neo.execute_query("MATCH (n:PERSONA) RETURN n LIMIT 1")
nombre_paciente = paciente["data"][0][0]["data"]["nombre"]
cadena = "MATCH (:PERSONA {nombre: '#{nombre_paciente}'})--(n2:ENFERMEDAD) RETURN n2 LIMIT 1"
enfermedad = @neo.execute_query(cadena)
nombre_enfermedad = enfermedad["data"][0][0]["data"]["nombre"]
edad_diagnostico = @neo.execute_query("MATCH (:PERSONA {nombre: '#{nombre_paciente}'})-[r:PADECE]->(n2:ENFERMEDAD {nombre: '#{nombre_enfermedad}'}) RETURN r LIMIT 1")
%>

<input placeholder="Ingrese nombre de paciente" type="text"/>

<p><b>Paciente</b> </br>
Nombre: <%=nombre_paciente%></br>
Apellido: <%=paciente["data"][0][0]["data"]["apellido"]%></br>
Edad: <%=paciente["data"][0][0]["data"]["edad"]%></p>

<p><b>Enfermedad que padece</b></br>
<%= nombre_enfermedad %> </br>
diagnosticado a los: <%= edad_diagnostico["data"][0][0]["data"]["edad_diagnostico"] %>
</p>
